
/* ---------------------------------------------- /*
 * General styles
/* ---------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300);


body {
  font  : 400 14px/1.8 'Open Sans', serif;
  color : #222;
}

section {
  padding : 120px 0 100px;
}

.btn {
  font-family    : 'Roboto Condensed', sans-serif;
  letter-spacing : 1px;
  text-transform : uppercase;
}

.form-control, .btn {
  border : 2px solid #D8E1E4;
}

h2::after {
  content : '';

  display : block;

  width   : 35px;
  margin  : 15px auto;

  border  : 1px solid #222;
}

a {
  color : #353535;
}

a:hover {
  text-decoration : none;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin         : 5px 0 5px;

  font           : 700 40px/1.2 'Roboto Condensed', sans-serif;
  letter-spacing : 5px;
  text-transform : uppercase;
}

h2 {
  margin    : 0 0 30px;
  font-size : 30px;
}

h3 {
  font-size      : 15px;
  letter-spacing : 1px;
}

/* ---------------------------------------------- /*
 * Header
/* ---------------------------------------------- */
.header {
  position : relative;
  z-index  : 998;

  width    : 100%;
}

.navbar {
  font-family : 'Roboto Condensed', sans-serif;
}

.nav {
  text-transform : uppercase;
}
.navbar .navbar-brand,
.navbar-default .navbar-nav li a {
  letter-spacing: 3px;
  font-size: 11px;
  color: #222;
}

.navbar .navbar-brand {
  font-size      : 18px;
  font-weight    : 600;
  text-transform : uppercase;
}

.navbar.navbar-default {
  margin     : 0;
  padding    : 0;

  background : #fff;
}

.navbar-nav a:after {
  content    : "";

  position   : absolute;
  left       : 0px;

  height     : 1px;
  width      : 100%;

  opacity    : 0;
  background : #222;

  transition : all 0.3s;
}

.navbar-nav a:after {
  bottom    : 0px;
  transform : translateY(-10px);
}

.navbar-nav a:hover:after {
  opacity   : 1;
  transform : translateY(0px);
}

/* ---------------------------------------------- /*
 * Main
/* ---------------------------------------------- */
#home {
  height            : 643px;

  background        : url(../images/home-bg.jpg);
  background-repeat : no-repeat;
  background-size   : cover;
}

.intro {
  position   : absolute;
  top        : 35%;

  width      : 100%;

  color      : #fff;
  text-align : center;
}

.intro h1 {
  text-transform : uppercase;
}

.iLogo {
  height        : 150px;
  width         : 150px;
  margin-bottom : 10px;

  border        : 2px solid white;
  border-radius : 50%;
}

.thumbnail {
  min-height : 350px;
}

.section-gray {
  background : #f5f5f5;
}

.section-title {
  text-align : center;
}

.section-text:last-child {
  margin-bottom : 40px;
}

.about-box {
  position : relative;
  margin   : 0 0 50px;
}

.about-box-icon {
  position    : absolute;
  top         : 0;
  left        : 0;

  width       : 55px;

  font-size   : 32px;
  line-height : 1;
}

.about-box-text {
  padding-left : 55px;
}

.about-box-title {
  margin-bottom : 15px;
}

#contact-form button:hover {
  background   : #222;
  color        : #fff;
  border-color : #222;
}

.contact-box {
  margin-bottom      : 35px;
  padding            : 20px 0;

  background         : #fff;
  box-shadow         : 0px 3px 0px 0px #f0f2f4;

  -webkit-transition : all 300ms ease-in-out;
  transition         : all 300ms ease-in-out;
}

.contact-box h3 span {
  display    : block;
  margin-top : 15px;
}

.contact-box h3::after {
  content : " ";

  display : block;

  width   : 35px;
  margin  : 25px auto;

  border  : solid 2px #222;
}

.contact-box p {
  font-weight : 600;
  color       : #353535;
}

.contact-box:hover {
  box-shadow        : 0px 3px 5px 0px #353535;

  -webkit-transform : translate(0, -15px);
  -ms-transform     : translate(0, -15px);
  transform         : translate(0, -15px);
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */
footer {
  padding    : 30px;

  background : #222;
  color      : #fff;
  text-align : center;
}

.copyright {
  margin : 0;
}

.social-links {
  padding    : 0;
  list-style : none;
}

.social-links li {
  display : inline-block;
  margin  : 5px;
}

.social-links a {
  display       : inline-block;

  height        : 36px;
  width         : 36px;

  font-size     : 14px;
  color         : rgba(255, 255, 255, .2);
  line-height   : 36px;
  border        : 1px solid rgba(255, 255, 255, .2);
  border-radius : 50%;
}

.social-links a:hover {
  color  : rgba(255, 255, 255, .5);
  border : 1px solid rgba(255, 255, 255, .5);
}